@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');
*, html, body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", Arial, sans-serif;
    text-decoration: none;
    list-style: none;
}

button, a {
    padding: 2.5px 3px 0 3px;
    background: rgba(255, 255, 255, 0.755);
    cursor: pointer;
}

body {
    width: 100%;
    height: 95.4vh;
    transition: background 0.2s linear;
    background: linear-gradient(45deg,#3374dc,#c1e1f0, #aaabdf);
    background-repeat: no-repeat;
}

.container {
    max-width: 900px;
    margin: 30px auto;
}

.logo {
    height: 70px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

.navbar h1 {
    font-size: 50px;
    margin-bottom: 5px;
}

.navbar h1 i {
    font-weight: 300;
}

.underline {
    margin: auto;
    height: 2px;
    width: 80%;
    background-color: white;
}

.config {
    cursor: pointer;
}

.add.tarefa {
    display: flex;
    flex-direction: row;
    margin: 45px auto;
    align-items: center;
    justify-content: center;
}

.add.tarefa input {
    width: 50%;
    height: 30px;
    font-size: 15px;
    border: 1px solid rgb(174, 174, 174);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(123, 123, 123, 0.74);
    margin: auto 30px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.856);
    color: rgb(61, 61, 61);
}

.add.tarefa input::placeholder {
    font-style: italic;
}

#adicione {
    height: 30px;
}

.task {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 4rem;
    color: rgb(85, 84, 84);
    position: relative;
}

.to.do {
    background: rgba(255, 255, 255, 0.796);
    display: inline-block;
    width: 30%;
    height: 50vh;
    border-radius: 7px;
    border: 1px solid rgb(174, 174, 174);
    padding: 1rem;
    box-shadow: 3px 3px 3px rgb(79, 79, 79);
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    left: 0;
    max-height: 500px;
    overflow-y: auto;
    max-width: 30%;
    word-break:break-all;
}

.to.do::-webkit-scrollbar {
    width: 10px;
}

.to.do::-webkit-scrollbar-track {
    background: rgba(231, 230, 230, 0.967);
    border-radius: 10px;
}

.to.do::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.782);
    border-radius: 20px;
    border: 2px solid rgba(212, 212, 212, 0.796);
}

.doing {
    background: rgba(255, 255, 255, 0.796);
    display: inline-block;
    width: 30%;
    height: 50vh;
    margin-right: 41px;
    border-radius: 7px;
    border: 1px solid rgb(174, 174, 174);
    padding: 1rem;
    box-shadow: 3px 3px 3px rgb(79, 79, 79);
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    left: 315px;
    max-height: 500px;
    overflow-y: auto;
    max-width: 30%;
    word-break:break-all;
}

.doing::-webkit-scrollbar {
    width: 10px;
}

.doing::-webkit-scrollbar-track {
    background: rgba(231, 230, 230, 0.967);
    border-radius: 10px;
}

.doing::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.782);
    border-radius: 20px;
    border: 2px solid rgba(212, 212, 212, 0.796);
}

.done {
    background: rgba(255, 255, 255, 0.796);
    display: inline-block;
    width: 30%;
    height: 50vh;
    margin-right: 41px;
    border-radius: 7px;
    border: 1px solid rgb(174, 174, 174);
    padding: 1rem;
    box-shadow: 3px 3px 3px rgb(79, 79, 79);
    font-size: 20px;
    font-weight: bolder;
    margin-right: -630px;
    max-height: 500px;
    overflow-y: auto;
    max-width: 30%;
    word-break:break-all;
}

.done::-webkit-scrollbar {
    width: 10px;
}

.done::-webkit-scrollbar-track {
    background: rgba(231, 230, 230, 0.967);
    border-radius: 10px;
}

.done::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.782);
    border-radius: 20px;
    border: 2px solid rgba(212, 212, 212, 0.796);
}

#tarefas {
    margin: 1rem auto;
    font-size: 15px;
    color: rgb(58, 58, 58);
    font-weight: 580;
}

#tarefas div {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(116, 116, 116, 0.268);
    margin: 0 15px;
    margin-bottom: 10px;
}

#tarefas p {
    text-align: left;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#tarefas img {
    cursor: pointer;
    margin-right: -100px;
    margin-left: 30px;
}

#tarefas2 {
    margin: 1rem;
    font-size: 15px;
    color: rgb(58, 58, 58);
    font-weight: normal;
}

#tarefas2 div {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(116, 116, 116, 0.268);
    margin-bottom: 10px;
}

#tarefas2 p {
    text-align: left;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#tarefas2 img {
    cursor: pointer;
    margin-right: -100px;
    margin-left: 30px;
}

#tarefas3 {
    margin: 1rem;
    font-size: 15px;
    color: rgb(58, 58, 58);
    font-weight: normal;
}

#tarefas3 div {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(116, 116, 116, 0.268);
    margin-bottom: 10px;
}

#tarefas3 p {
    text-align: left;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#tarefas3 img {
    cursor: pointer;
    margin-right: -100px;
    margin-left: 30px;
}


#tarefas img {
    visibility: hidden;
}

#tarefas div:hover img{
    visibility: visible;
}

#tarefas2 img {
    visibility: hidden;
}

#tarefas2 div:hover img{
    visibility: visible;
}

#tarefas3 img {
    visibility: hidden;
}

#tarefas3 div:hover img{
    visibility: visible;
}

.underline2 {
    margin: 5px auto;
    height: 2px;
    width: 80%;
    background-color: rgb(158, 158, 158);
}

.underline3 {
    margin: 5px auto;
    height: 2px;
    width: 100%;
    background-color: rgb(138, 131, 131);
}

.modal-container {
    width: 100%;
    height: 100%;
    background-color: rgba(26, 26, 28, 0.645);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.modal-container #content {
    background-color: white;
    width: 80vh;
    padding: 40px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.426);
    border-radius: 10px;
    position: relative;
    margin: 20vh auto;
    z-index: 3;
}

#content h3 {
    text-align: center;
    font-size: 25px;
}

.theme {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    font-size: 20px;
}

.label {
    width: 57px;
    height: 28px;
    background-color: rgba(0, 0, 0, 0.871);
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
}

.fa-moon {
    color: #f0d66d; 
}

.fa-sun {
    color: #ffc940;
}

.ball {
    width: 23px;
    height: 23px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 5px;
    border-radius: 50%;
    transition: transform 0.3s linear;
}

#checkbox {
    opacity: 0;
    position: absolute;
}

#checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.wallpaper {
    align-items: left;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    font-size: 20px;
}

.wallpaper input {
    outline: none;
    margin-top: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid rgb(99, 99, 99);
    font-size: 16px;
    color: rgb(111, 111, 111);
    background: none;
    filter: sepia() saturate(0%) hue-rotate(30deg);
}

.wallpaper input::placeholder{
    font-style: italic;
}

.modalBotao {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.modalBotao input {
    cursor: pointer;
    font-size: 19px;
    border: 1px solid #3071D9;
    padding: 10px;
    border-radius: 10px;
    color: #3071D9;
    background-color: white;
}

.modalBotao input:last-child {
    background-color: #3071D9;
    color: white;
}

.modalBotao input:hover:first-child {
    background-color: rgba(203, 217, 252, 0.426);
}

.modalBotao input:hover:last-child {
    background-color: rgb(38, 93, 182)
}
