.dark button, a {
    background: rgba(177, 177, 177, 0.755);
}

.dark body {
    background: linear-gradient(45deg,#172538, #121212);
}

.dark .navbar {
    color: #ffffffea;
}

.dark .underline {
    background-color: #ffffffea;
}

.dark .add.tarefa input {
    border: 1px solid rgb(146, 146, 146);
    box-shadow: 2px 2px 5px rgba(79, 78, 78, 0.631);
    background-color: rgba(95, 95, 95, 0.775);
    color: rgb(223, 222, 222);
}

.dark .add.tarefa input::placeholder {
    color: rgb(196, 192, 192);
}

.dark .task {
    color: rgb(211, 211, 211);
}

.dark .to.do {
    background: rgba(118, 117, 117, 0.741);
    box-shadow: 3px 3px 3px rgb(48, 47, 47);
}

.dark .to.do::-webkit-scrollbar-track {
    background: rgba(118, 117, 117, 0.741);
}

.dark .to.do::-webkit-scrollbar-thumb {
    background-color: rgba(39, 44, 59, 0.611);
    border: 2px solid rgba(118, 117, 117, 0.741);
}

.dark .doing {
    background: rgba(118, 117, 117, 0.741);
    box-shadow: 3px 3px 3px rgb(48, 47, 47);
}

.dark .doing::-webkit-scrollbar-track {
    background: rgba(118, 117, 117, 0.741);
}

.dark .doing::-webkit-scrollbar-thumb {
    background-color: rgba(39, 44, 59, 0.611);
    border: 2px solid rgba(118, 117, 117, 0.741);
}

.dark .done {
    background: rgba(118, 117, 117, 0.741);
    box-shadow: 3px 3px 3px rgb(48, 47, 47);
}

.dark .done::-webkit-scrollbar-track {
    background: rgba(118, 117, 117, 0.741);
}

.dark .done::-webkit-scrollbar-thumb {
    background-color: rgba(39, 44, 59, 0.611);
    border: 2px solid rgba(118, 117, 117, 0.741);
}

.dark .underline2 {
    background-color: rgb(211, 211, 211);
}

.dark #tarefas {
    color: rgb(211, 211, 211);
}

.dark #tarefas div {
    border-bottom: 1px solid rgba(211, 211, 211, 0.713);
}

.dark #tarefas2 {
    color: rgb(211, 211, 211);
}

.dark #tarefas2 div {
    border-bottom: 1px solid rgba(211, 211, 211, 0.713);
}

.dark #tarefas3 {
    color: rgb(211, 211, 211);
}

.dark #tarefas3 div {
    border-bottom: 1px solid rgba(211, 211, 211, 0.713);
}

.dark .modal-container #content {
    background-color: #22242e;
}

.dark #content h3 {
    color: rgb(218, 218, 218);
}

.dark .theme {
    color: rgb(218, 218, 218);
}

.dark .label {
    background-color: rgba(26, 26, 28, 0.645);
}

.dark .ball {
    background-color: #353535;
}

.dark .wallpaper {
    color: rgb(218, 218, 218);
}

.dark .wallpaper input {
    color: rgb(218, 218, 218);
    filter: hue-rotate(1deg);
}

.dark .modalBotao input {
    border: 1px solid #353535;
    color: white;
    background-color: #353535;
}

.dark .modalBotao input:last-child {
    background-color: #1e3150;
    border: 1px solid #192942;
}

.dark .modalBotao input:hover:first-child {
    background-color: #313131;
}

.dark .modalBotao input:hover:last-child {
    background-color: #192942;
}