body.dark {
    width: 100%;
    height: 95.4vh;
    transition: background 0.2s linear;
    background: linear-gradient(45deg,#1e3150, #121212);
    background-repeat: no-repeat;
}

.dark .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffffffea;
}

.dark .underline {
    margin: auto;
    height: 2px;
    width: 80%;
    background-color: #ffffffea;
}

.dark .add.tarefa input {
    width: 50%;
    height: 30px;
    font-size: 15px;
    border: 1px solid rgb(174, 174, 174);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(79, 78, 78, 0.631);
    margin: auto 30px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.775);
}

.dark .modal-container #content {
    background-color: #22242e;
    width: 80vh;
    padding: 40px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.426);
    border-radius: 10px;
    position: relative;
    margin: 20vh auto;
    z-index: 3;
}

.dark #content h3 {
    color: rgb(218, 218, 218);
    text-align: center;
    font-size: 25px;
}

.dark .theme {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    font-size: 20px;
    color: rgb(218, 218, 218);
}

.dark .ball {
    width: 24px;
    height: 23px;
    background-color: #353535;
    position: absolute;
    top: 2px;
    left: 5px;
    border-radius: 50%;
    transition: transform 0.3s linear;
}

.dark .wallpaper {
    align-items: left;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    font-size: 20px;
    color: rgb(218, 218, 218);
}

.dark .wallpaper input {
    outline: none;
    margin-top: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid rgb(99, 99, 99);
    font-size: 16px;
    color: rgb(218, 218, 218);
}

.dark .modalBotao input {
    cursor: pointer;
    font-size: 19px;
    border: 1px solid #1e3150;
    padding: 10px;
    border-radius: 10px;
    color: #1e3150;
    background-color: white;
}

.dark .modalBotao input:last-child {
    background-color: #1e3150;
    color: white;
}