@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');
*, html, body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", Arial, sans-serif;
    text-decoration: none;
    list-style: none;
}

button, a {
    cursor: pointer;
}

.container {
    max-width: 900px;
    margin: 30px auto;
    height: 100%;
}

.logo {
    height: 70px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #3071D9;
}

.navbar h1 {
    font-size: 50px;
    margin-bottom: 5px;
}

.navbar h1 i {
    font-weight: 300;
}

.underline {
    margin: auto;
    height: 2px;
    width: 80%;
    background-color: #3071D9;
}

.config {
    cursor: pointer;
}

.add.tarefa {
    display: flex;
    flex-direction: row;
    margin: 45px auto;
    align-items: center;
    justify-content: center;
}

.add.tarefa input {
    width: 50%;
    height: 30px;
    font-size: 15px;
    border: 1px solid rgb(174, 174, 174);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgb(167, 167, 167);
    margin: auto 30px;
    outline: none;
    background-color:  rgba(255, 255, 255, 0.658);
}

.add.tarefa input::placeholder {
    font-style: italic;
}

.task {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 4rem;
    color: rgb(53, 53, 53);
    position: relative;
}

.to.do {
    background: rgba(255, 255, 255, 0.658);
    display: inline-block;
    width: 30%;
    height: 50vh;
    border-radius: 10px;
    border: 1px solid rgb(174, 174, 174);
    padding: 1rem;
    box-shadow: 3px 3px 3px rgb(167, 167, 167);
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    left: 0;
}

.doing {
    background: rgba(255, 255, 255, 0.658);
    display: inline-block;
    width: 30%;
    height: 50vh;
    margin-right: 41px;
    border-radius: 10px;
    border: 1px solid rgb(174, 174, 174);
    padding: 1rem;
    box-shadow: 3px 3px 3px rgb(167, 167, 167);
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    left: 315px;

}

.done {
    background: rgba(255, 255, 255, 0.658);
    display: inline-block;
    width: 30%;
    height: 50vh;
    margin-right: 41px;
    border-radius: 10px;
    border: 1px solid rgb(174, 174, 174);
    padding: 1rem;
    box-shadow: 3px 3px 3px rgb(167, 167, 167);
    font-size: 20px;
    font-weight: bolder;
    margin-right: -630px;
}

#tarefas {
    margin: 1rem;
    font-size: 15px;
    color: black;
    font-weight: normal;
}

#tarefas div {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(116, 116, 116, 0.268);
    margin-bottom: 10px;
}

#tarefas img {
    cursor: pointer;
}

#tarefas2 {
    margin: 1rem;
    font-size: 15px;
    color: black;
    font-weight: normal;
}

#tarefas2 div {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(116, 116, 116, 0.268);
    margin-bottom: 10px;
}

#tarefas2 img {
    cursor: pointer;
}

#tarefas3 {
    margin: 1rem;
    font-size: 15px;
    color: black;
    font-weight: normal;
}

#tarefas3 div {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(116, 116, 116, 0.268);
    margin-bottom: 10px;
}

#tarefas3 img {
    cursor: pointer;
}

.underline2 {
    margin: 5px auto;
    height: 2px;
    width: 80%;
    background-color: rgb(197, 197, 197);
}

.underline3 {
    margin: 5px auto;
    height: 2px;
    width: 100%;
    background-color: rgb(138, 131, 131);
}

.modal-container {
    width: 100%;
    height: 100%;
    background-color: rgba(26, 26, 28, 0.515);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.modal-container #content {
    background-color: white;
    width: 80vh;
    padding: 40px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.426);
    border-radius: 10px;
    position: relative;
    margin: 20vh auto;
    z-index: 3;
}

#content h3 {
    text-align: center;
    font-size: 22px;
}

.theme {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    font-size: 20px;
}

.label {
    width: 57px;
    height: 28px;
    background-color: #111;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
}

.fa-moon {
    color: #f1c40f; 
}

.fa-sun {
    color: #f39c12;
}

.ball {
    width: 23px;
    height: 23px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 5px;
    border-radius: 50%;
    transition: transform 0.3s linear;
}

#checkbox {
    opacity: 0;
    position: absolute;
}

#checkbox:checked + .label .ball {
    transform: translateX(24px);
}

body {
    transition: background 0.2s linear;
}

body.dark {
    background-color: black;
}

.wallpaper {
    align-items: left;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    font-size: 20px;
}

.wallpaper input {
    outline: none;
    margin-top: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid rgb(99, 99, 99);
    font-size: 16px;
    color: rgb(111, 111, 111);
}

.wallpaper input::placeholder{
    font-style: italic;
}

.modalBotao {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.modalBotao input {
    cursor: pointer;
    font-size: 19px;
    border: 1px solid rgb(68, 49, 172);
    padding: 10px;
    border-radius: 10px;
    color: rgb(68, 49, 172);
}

.modalBotao input:last-child {
    background-color: rgb(68, 49, 172);
    color: white;
}




